src/KensakuPluginNcv/bin/*
src/KensakuPluginNcv/obj/*
src/KensakuPluginAnko/bin/*
src/KensakuPluginAnko/obj/*
src/HatenaKeyword/bin/*
src/HatenaKeyword/obj/*
src/HatenaKeywordTest/bin/*
src/HatenaKeywordTest/obj/*
src/KensakuPlugin/bin/*
src/KensakuPlugin/obj/*
src/KensakuPluginTest/bin/*
src/KensakuPluginTest/obj/*
src/SampleMainForm/bin/*
src/SampleMainForm/obj/*
src/Weather/bin/*
src/Weather/obj/*
src/WeatherTest/bin/*
src/WeatherTest/obj/*
