<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="anko2Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <anko2Sample.Properties.Settings>
            <setting name="キーワード前" serializeAs="String">
                <value>検索</value>
            </setting>
            <setting name="キーワード後" serializeAs="String">
                <value />
            </setting>
            <setting name="お天気前" serializeAs="String">
                <value>天気</value>
            </setting>
            <setting name="お天気中" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="お天気後" serializeAs="String">
                <value />
            </setting>
            <setting name="同一IDでの検索間隔" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="地域名不正" serializeAs="String">
                <value>地域名が不正です</value>
            </setting>
            <setting name="予報日不正" serializeAs="String">
                <value>予報日が不正です</value>
            </setting>
            <setting name="成功時接尾語" serializeAs="String">
                <value>です</value>
            </setting>
            <setting name="キーワード検索に失敗" serializeAs="String">
                <value>データがありません</value>
            </setting>
        </anko2Sample.Properties.Settings>
    </userSettings>
</configuration>